@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	:root {
		--swiper-navigation-color: rgba(255, 255, 255, 0.8);
		--swiper-scrollbar-drag-bg-color: #fefff7b3;
		--swiper-scrollbar-size: 3px;
		--swiper-scrollbar-border-radius: 0;
		--swiper-pagination-color: #fffafae2;
		--swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.1);
		--swiper-pagination-progressbar-size: 2px;
	}
}

@layer base {
	body {
		@apply bg-gray-950 text-primary text-base;
	}

	body::-webkit-scrollbar {
		@apply w-[6px] relative z-50 1xl:z-0;
	}

	body::-webkit-scrollbar-track {
		@apply bg-layout/70;
	}

	body::-webkit-scrollbar-thumb {
		@apply bg-accent  rounded-sm;
	}

	.snap-container {
		@apply bg-mobile md:bg-tablet lg:bg-desktop bg-cover bg-no-repeat bg-center lg:bg-top;
	}

	.snap-container::-webkit-scrollbar {
		@apply 1xl:w-0 1xl:opacity-0;
	}

	section {
		@apply w-full h-auto 1xl:h-screen pb-28 first:pb-0 1xl:pb-0  bg-cover bg-no-repeat bg-center;
	}
	.wrapper {
		@apply w-full max-w-container mx-auto px-5 1lg:px-0;
	}

	.active {
		text-shadow: 0px 0px 0.5px #fff;
	}

	/*@media screen and (min-height: 750px){
           
	} */
}

.swiper-button-next,
.swiper-button-prev {
	visibility: hidden;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}
