@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	:root {
		--swiper-navigation-color: rgba(255, 255, 255, 0.8);
		--swiper-scrollbar-drag-bg-color: #fefff7b3;
		--swiper-scrollbar-size: 3px;
		--swiper-scrollbar-border-radius: 0;
		--swiper-pagination-color: #fffafae2;
		--swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.1);
		--swiper-pagination-progressbar-size: 2px;
	}
}

@layer base {
	body {
		@apply bg-gray-950 text-primary text-base;
	}

	body::-webkit-scrollbar {
		@apply w-[8px] relative z-50 1xl:z-0;
	}

	body::-webkit-scrollbar-track {
		@apply bg-layout/80;
	}

	body::-webkit-scrollbar-thumb {
		@apply shadow-scroll bg-transparent  rounded-sm;
	}

	.snap-container {
		@apply bg-mobile md:bg-tablet lg:bg-large 2xl:bg-desktop bg-cover bg-no-repeat bg-top lg:bg-top 1xl:z-50;
	}

	.snap-container::-webkit-scrollbar {
		@apply 1xl:w-0 1xl:opacity-0;
	}

	section {
		@apply w-full h-auto 1xl:h-screen pb-150 first:pb-0 1xl:pb-0  bg-cover bg-no-repeat bg-center;
	}

	#projects,
	#about,
	#contact {
		@apply md:pt-20 1xl:pt-0;
	}

	#projects {
		@apply pb-70 1xl:pb-0;
	}

	.wrapper {
		@apply w-full max-w-[600px] lg:max-w-container mx-auto px-5 1lg:px-0;
	}

	.active {
		@apply text-accent;
	}

	input,
	textarea {
		@apply bg-layout/40 backdrop-blur-sm py-2 px-1 w-full focus:outline-none focus:border-accent focus:shadow-btn border border-transparent;
	}

	/*@media screen and (min-height: 750px){
           
	} */
}

.swiper-button-next,
.swiper-button-prev {
	visibility: hidden;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}
